<html lang="en">
<head>
    {% block bootstrap %}{% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://files.catbox.moe/rdvmlk.png" type="image/x-icon">
    {% block css %}<link rel="stylesheet" href="/static/CSS/main.css">{% endblock %}
    <link rel="stylesheet" href="/static/JS/modal.js">

    <title>Helios One {% block titleExtension %}{% endblock %}</title>
</head>

<body>
    {% block body %}{% endblock %}
</body>

<footer>
    {% block footer %}{% endblock %}
</footer>
</html>