{% extends "base.html" %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
{% block titleExtension %}- Home{% endblock %}

{% block body %}
<nav class="navbar border-bottom border-dark position-sticky" style="background-color: #ff9100;">
    <div class="container-fluid">
        <a class="navbar-brand" style="margin-left: 20px;">
            <img src="https://files.catbox.moe/k0paz3.png" alt="Helios One" style="width: 55px; height: 55px">
        </a>
        <form class="d-flex" style="margin: auto;" role="search" action="submit" method="POST">
            <input class="form-control border-end-0 rounded-start-pill rounded-end-0" style="border-width: 3.5px; border-color: #73913f; width: 25rem; height: 2.8rem;" type="search" placeholder="Search">
            <button class="btn btn-light border-start-0 rounded-end-pill rounded-start-0" style="border-width: 3.5px; border-color: #73913f;" type="submit">
                <img src="https://files.catbox.moe/thumbs/t_8mq0vu.png" alt="Search" style="width: 20px; height: 20px">
            </button>
        </form>
        {% if 'user' in session %}
        <a href="{{url_for('logout')}}">
            <button class="btn btn-danger rounded-pill" style="padding: 2px; font-size: 30px; border-width: 3.5px; border-color: #73913f; width: 10rem; height: 2.8rem;">
                <h3>Logout</h3>
            </button>
        </a>
        {% endif %}
        {% if 'user' not in session %}
        <a href="{{url_for('login')}}">
            <button class="btn btn-light rounded-pill" style="padding: 2px; font-size: 30px; border-width: 3.5px; border-color: #73913f; width: 10rem; height: 2.8rem;">
                <h3>Login</h3>
            </button>
        </a>
        {% endif %}
    </div>
</nav>

<div class="row">
    {% for flower in flowers %}
    <div class="d-flex col-md-3 mt-2 justify-content-center"> 
        <div class="card mb-2" style="width: 25rem;">
            <img src="{{flower.imageURL}}" alt="{{flower.FlowerName}}" class="card-img-top" style="height: 350px;"> 
            <div class="card-body"> 
                <h5 class="card-title">{{ flower.FlowerName }}</h5>
                <p class="card-text">{{ flower.FlowerDescription }}</p>
                <hr>
                <ul class="position-relative list-group list-group-flush "> 
                    <li class="list-group-item"><strong>Botanical Name:</strong> {{ flower.FlowerBotanical }}</li> 
                    <li class="list-group-item"><strong>Native Region:</strong> {{ flower.NativeRegion }}</li>  
                    <li class="list-group-item"><strong>Plant Height:</strong> {{ flower.FlowerHeight }}</li> 
                </ul> 
            </div> 
        </div> 
    </div>
    {% endfor %}
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}

{% block footer %}
<div class="trade-copymark">
    &copy;Helios One&trade;         
</div>
{% endblock %}