{% extends "base.html" %}

{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
{% block titleExtension %}- Home{% endblock %}

{% block body %}



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
{% endblock %}

<!-- Modal -->

<!-- <div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="/image/Flowers/Sunflower.jpg" alt="Sunflower" width="400px">
        <h3>Sunflower</h3>
    </div>
</div> -->

<!-- Container -->

<!-- <div class="container">
    <div class="box" onclick="popup()">
        <img src="/image/Flowers/Sunflower.jpg" alt="Sunflower" width="300px" height="294px">
        <h3>Sunflower</h3>
        <h4>(Heliantheae)</h4>
        <p>Quantity: </p>
    </div>
</div> -->