{% extends "base.html" %}

{% block titleExtension %}{% endblock %}

{% block css %}<link rel="stylesheet" href="/static/CSS/register.css">{% endblock %}

{% block body %}
<div class="loginBox">
    <h1>Sign In to Helios</h1>
    <form method="post">
        <div class="txtfield">
            <input type="text" required>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txtfield">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <br>
        <input type="submit" value="Login">
        <br><br><br>
    </form>
</div>
{% endblock %}